$bodyBackgroundDarkMode: #000;

$mainTextColor: #2a2f35;
$mainTextColorDarkMode: #2a2f35;

$codeBoxBackground: #F8F8F8;

$linkColor: #007998;
$linkColorDarkMode: #007998;

$headerBackground: #f8f8f8;
$headerBackgroundDarkMode: #f8f8f8;
